/* secciones generales */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #333, #666);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  margin: 0; /* Asegúrate de que no haya margen */
}

/* Estilo del contenido principal */
main {
  text-align: justify;
  padding: 0% 5% 5%;
  margin-top: 80px;
}

/* Contenidos del Header */
header h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

header nav {
  display: none;
}

/* Estilo de los links del menú en dispositivos de escritorio */
.desktop-menu {
  display: flex;
  gap: 20px;
}

.desktop-menu a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.desktop-menu a:hover {
  color: #f0a500;
}

/* Botón del menú móvil */
.open-menu-btn {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* Menú móvil */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 0;
}

.mobile-menu a:hover {
  color: #f0a500;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  
  .open-menu-btn {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}

/* Estilos para la sección de "El Estudio" */
#quienes-somos {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Estilos para la sección de "Nuestro equipo" */
#equipo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.equipo-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.equipo-miembro {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}

.equipo-foto {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos para la sección de "Nuestros valores" */
#servicios {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.servicios-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.servicios-grid div {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  flex: 1;
  min-width: 250px;
}

/* Estilos para la sección de "Contacto" */
#contacto {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

form {
  max-width: 600px; /* Define un ancho máximo para el formulario */
  margin: 0 auto; /* Centra el formulario en la página */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: normal;
}

form input,
form textarea,
form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: normal;
  max-width: 200px; /* Define un ancho máximo */
  width: auto; /* Permitir que el ancho se ajuste automáticamente */
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

form button:hover {
  background-color: #555;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload label {
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-upload label:hover {
  background-color: #555;
}

.custom-file-upload span {
  font-size: 14px;
}

/* Alineación de las opciones de Fuero */
.fuero-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

/* Estilos para el título de cada sección */
section h2 {
  margin-top: 40px; /* Ajusta el margen superior para dejar espacio debajo del header */
}
